:root {
  font-size: 62.5% !important;
}

/* General styling */
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  height: 100%;
}

/* Typography */
h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-size: 4rem;
  font-weight: 600;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-size: 3.5rem;
  font-weight: 600;
}

h2.tab-title {
  margin-bottom: 2.5rem;
}

h3 {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

h4, .h4 {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-size: 1.9rem;
  font-weight: 400;
}

/* Links styling */
a {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-size: 1.9rem;
  font-weight: 400;
  text-decoration: underline !important;
}
a:focus {
  color: #000 !important;
  outline: 3px solid #FFBF47;
}
a:hover {
  color: #000 !important;
}

/* part of the terms and condition scroll to top */
.skip-to-content a {
  padding: 1rem 2rem;
  position: absolute;
  top: -5rem;
  left: 0px;
  color: #FFFFFF;
  border-radius: 2px;
  background: #134F76;
  transition: top 1s ease-out;
  z-index: 100;
  font-family: Segoe UI;
  font-size: 1em;
}
.skip-to-content a:hover, .skip-to-content a:focus {
  background: #1E7BB8;
  color: white !important;
}

.cta__go-back {
  margin-top: 5rem;
}
.cta__go-back:focus {
  color: #000;
  outline: 3px solid #FFBF47;
}
.cta__go-back:hover {
  color: #000 !important;
}

.cta__link {
  margin-bottom: 2.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.cta__link:focus {
  color: #000;
  outline: 3px solid #FFBF47;
}
.cta__link:hover {
  color: #000 !important;
}

/* Link - edit details */
.edit-details {
  padding-top: 5rem;
}

/* Buttons styling */
.btn {
  padding: 1rem 2.5rem;
  border-radius: 5px;
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-size: 1.9rem;
  font-weight: 400;
  text-decoration: none !important;
}

a.btn-primary:hover {
  color: white !important;
}

.btn-primary, #nextButton {
  color: white !important;
  background-color: #1E7BB8 !important;
  border: 2px solid #1E7BB8 !important;
}
.btn-primary:focus, #nextButton:focus {
  outline: 3px solid #FFBF47;
  background-color: #134F76 !important;
  border: 2px solid #134F76 !important;
}
.btn-primary:active, #nextButton:active {
  outline: 3px solid #FFBF47;
  background-color: #134F76 !important;
  border: 2px solid #134F76 !important;
}
.btn-primary:hover, #nextButton:hover {
  background-color: #134F76 !important;
  border: 2px solid #134F76 !important;
}

.btn-secondary, .previous-btn {
  color: #1E7BB8 !important;
  background-color: white !important;
  border: 2px solid #1E7BB8 !important;
}
.btn-secondary:focus, .previous-btn:focus {
  color: #134F76 !important;
  border: 2px solid #134F76 !important;
  outline: 3px solid #FFBF47;
}
.btn-secondary:active, .previous-btn:active {
  color: #134F76 !important;
  border: 2px solid #134F76 !important;
  outline: 3px solid #FFBF47;
}
.btn-secondary:hover, .previous-btn:hover {
  color: #134F76 !important;
  border: 2px solid #134F76 !important;
}

#btn__scroll-up {
  display: none;
  position: fixed;
  bottom: 15rem;
  right: 3rem;
  z-index: 99;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  #btn__scroll-up {
    width: 7rem;
    bottom: 2rem;
  }
}

/* Individual pages styling */
/* Company details page */
/* Edit business details page (out of the box form fixes)*/
.edit-business-details section.container {
  padding-bottom: 2.5rem;
}
.edit-business-details .crmEntityFormView fieldset {
  margin-bottom: 2.5rem;
}
.edit-business-details .actions {
  margin-top: 0;
}
.edit-business-details .crmEntityFormView .actions:empty {
  display: block;
}
@media screen and (max-width: 767px) {
  .edit-business-details .cta__cancel-changes {
    display: block;
    margin-left: 0 !important;
    margin-top: 5rem !important;
  }
  .edit-business-details .crmEntityFormView .cell {
    padding: 0 !important;
  }
  .edit-business-details .crmEntityFormView .registered-address-fieldset td {
    margin-bottom: 2.5rem;
  }
  .edit-business-details .crmEntityFormView .tab {
    margin-bottom: 5rem;
  }
  .edit-business-details .crmEntityFormView .actions:empty {
    display: none;
  }
}

/* Registration confirmation page */
.registration-confirmation {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
}
.registration-confirmation h1 {
  color: white;
}
.registration-confirmation p {
  margin-bottom: 2.5rem;
}

/* Accessibility page */
.accessibility-statement {
  padding-top: 5rem;
}
.accessibility-statement h2 {
  margin: 5rem 0 2.5rem 0;
}
.accessibility-statement ul li {
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
}

/* Company details page */
/* Terms and conditions page */
.terms-and-conditions {
  padding-top: 5rem;
}
.terms-and-conditions h2 {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}
.terms-and-conditions p {
  margin-bottom: 1.5rem;
}

/* Styling for the T&C's out-of-the-box template with the checkbox */
#terms-and-conditions-section {
  margin-top: 0;
  padding-top: 0;
  /* "I agree ..." label position fix */
  /* Continue button width fix for desktop */
}
#terms-and-conditions-section h1 {
  padding: 5rem 11rem;
  background-color: #EEEEEE;
}
#terms-and-conditions-section .form-group {
  padding-left: 11rem;
}
#terms-and-conditions-section span.xrm-attribute-value-encoded.xrm-attribute-value {
  margin-left: 25px !important;
}
#terms-and-conditions-section #submit-agreement {
  width: 200px;
}
@media screen and (max-width: 991px) {
  #terms-and-conditions-section h1 {
    padding-left: 3rem;
  }
  #terms-and-conditions-section .form-group {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  #terms-and-conditions-section #submit-agreement {
    width: 100%;
  }
}

/* Terms and conditions indent styling*/
.item-level-1 {
  padding-left: 1.5rem;
}

.item-level-2 {
  padding-left: 5rem;
}

#submit-agreement {
  margin-top: 1.5rem;
}

/* Cookie policy page */
.cookie-policy-cp {
  padding-top: 5rem;
}
.cookie-policy-cp li {
  font-size: 1.9rem;
}
.cookie-policy-cp table {
  font-size: 1.9rem;
}

/* Contact us page*/
.contact-us-form {
  margin-top: 2.5rem;
}
.contact-us-form input[type=email] {
  width: 100%;
}
.contact-us-form .cell.checkbox-cell div.info {
  padding-left: 45px !important;
}

#se_accepttermsandconditions {
  margin: 1px;
}

#se_accepttermsandconditions_label {
  font-weight: 400;
  font-size: 1.6rem;
}

/* Confirm engagement details page */
.confirm-engagement-details h2 {
  margin-bottom: 0;
}
.confirm-engagement-details form {
  margin-top: 2.5rem;
}
.confirm-engagement-details form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.confirm-engagement-details .engagement-details-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 2rem;
}
.confirm-engagement-details input[type=checkbox] {
  height: 25px;
  width: 25px;
  margin: 5px 15px 5px 0;
}
.confirm-engagement-details label {
  font-weight: 400;
  margin: 0;
}
.confirm-engagement-details ul {
  margin-bottom: 1.5rem;
}

.cta-form-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.paragraph-with-bullets {
  display: list-item;
  margin-left: 5rem;
}

/* Account manager and account team panels (am - account manager; atm - account team member) */
.am-card {
  border: 3px solid #1E7BB8;
  border-radius: 5px;
  background-color: white;
}

.am-card__title {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #1E7BB8;
  margin: 2.5rem 25px;
}
.am-card__title h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.am-card__content {
  margin: 0 2.5rem 2.5rem 2.5rem;
}
.am-card__content .am-card__photo {
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.am-card__content .am-card__photo img {
  max-width: 140px;
}
.am-card__content .am-card__description p {
  padding-bottom: 15px;
}

.am-card__footer {
  background-color: #1E7BB8;
  color: white;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}
.am-card__footer .am__name {
  padding-top: 1.5rem;
  width: 100%;
}
.am-card__footer .am__name h3 {
  color: white;
  margin: 0;
}
.am-card__footer .am__contact-details {
  overflow-wrap: break-word;
}
.am-card__footer .am__contact-details a {
  color: white;
}

.your-account-team h2 {
  margin-bottom: 2rem;
}

.account-team-members {
  width: 100%;
  margin: 0 -15px;
  padding-top: 2.5rem;
}
.account-team-members .atm-card {
  border: 3px solid #1E7BB8;
  border-radius: 5px;
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  min-height: 265px;
}

.atm-name h4 {
  padding-bottom: 15px;
  border-bottom: 2px solid #1E7BB8;
}

.atm-team {
  padding: 1.5rem 0;
  overflow-wrap: break-word;
}

.atm-email {
  overflow-wrap: break-word;
}

@media screen and (max-width: 991px) {
  .account-team-members {
    margin: 0;
  }
  .am-card__title {
    margin: 2.5rem 40px;
  }
}
@media screen and (max-width: 767px) {
  .am-card__description p {
    padding-top: 2.5rem;
  }
  .am__contact-details {
    text-align: center;
  }
  .am__phone-number {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }
}
/*Form elements*/
.form-group {
  display: flex;
  flex-direction: column;
}

input::-moz-placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  opacity: 0.5;
}

input::placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  opacity: 0.5;
}

/* Other components*/
/* Beta banner */
#beta-banner {
  position: relative;
  top: 0 !important;
  width: 100%;
  background-color: #1E7BB8;
  padding: 1.5rem 0;
  z-index: 1;
  color: white;
  display: block;
}

.beta-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2.5rem;
}
.beta-banner p {
  font-size: 1.6rem;
  margin: 0;
}
.beta-banner a {
  color: white;
  font-size: 1.6rem;
}
.beta-banner a:focus {
  color: white;
}

.beta-tag {
  font-size: 1.9rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #1E7BB8;
}

.icon__close {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: transparent;
  border: none !important;
  margin-left: auto;
}
.icon__close:focus {
  color: white;
  outline: 3px solid #FFBF47;
}

/* Navbar styling */
.navbar-brand {
  padding: 0.8rem;
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.navbar-static-top {
  z-index: 1000;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 1.5rem;
  text-decoration: none !important;
  border: none !important;
  min-height: 5rem;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:active {
  color: #fff !important;
  background-color: #1E7BB8;
  outline: none;
  padding: 1.5rem;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
  padding: 1rem 1.5rem;
  margin: 0;
  font-size: 1.6rem;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  margin: 0px;
  box-shadow: none;
  border: none;
}

#navbar .dropdown-menu {
  margin: 0px;
  border: none;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: 100%;
}

#navbar .dropdown-menu {
  margin-top: 0px;
}

/* Dropdown menu */
.dropdown-menu {
  padding: 0;
}

a.dropdown-toggle {
  margin-left: 0 !important;
  padding: 1.5rem;
}
a.dropdown-toggle:active {
  padding: 1.5rem;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 2rem;
  padding: 0 0;
  margin-bottom: 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0;
}
.breadcrumb .active {
  font-weight: 500;
}

/* Images */
#logo {
  width: auto !important;
  margin-left: 0.6rem;
}

img {
  width: 100%;
}

/* Form styling, section heading */
legend.section-title {
  font-size: 2.5rem;
  font-weight: 600;
}
legend.section-title h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

table.section {
  max-width: 60%;
  padding: 2rem 0;
}

/* Edit company details form - heading spacing */
.crmEntityFormView .section-title {
  padding-top: 0 !important;
  margin-bottom: 0.5rem;
}

#websiteurl {
  width: 100%;
}

/* Onboarding form styling */
.crmEntityFormView .actions {
  display: flex;
  border-top: none;
  margin: -15px;
  padding: 0;
  margin-bottom: 5rem;
  margin-top: 2.5rem;
  /*fix for the processing button onboarding form*/
}
@media screen and (min-width: 991px) {
  .crmEntityFormView .actions {
    width: 800px;
  }
}

/* Spacing between the forms buttons */
.btn-group {
  margin-right: 1.5rem;
}

.crmEntityFormView fieldset {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0 none;
}

.crmEntityFormView td {
  padding-bottom: 25px !important;
}

.list-group-item {
  border-top: none !important;
}

#WebFormPanel {
  padding-left: 95px;
}
#WebFormPanel h2.tab-title {
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
}
#WebFormPanel h2.tab-title:focus {
  outline: none;
}
#WebFormPanel h2.tab-title:hover {
  background-color: white;
  color: black !important;
}
@media only screen and (max-width: 991px) {
  #WebFormPanel {
    padding: 0px;
  }
}

/* Onboarding - your business*/
/*js controls adding extra padding-top when conditional logic for radio btns is applied*/
div#WebFormPanel.onboarding-your-business .actions {
  position: relative;
  top: -110px;
  margin-top: 0;
  margin-bottom: 0;
}

#se_business_ispartofgroup, #se_businessisnotyetearningrevenue {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#se_business_ispartofgroup input, #se_business_ispartofgroup label, #se_businessisnotyetearningrevenue input, #se_businessisnotyetearningrevenue label {
  margin: 0;
}
#se_business_ispartofgroup label, #se_businessisnotyetearningrevenue label {
  margin-left: 10px;
  margin-right: 30px;
}

.your-business {
  margin: -15px 0 2.5rem 0;
}

.onboarding-no-access p {
  margin-bottom: 2.5rem;
}

/* Onboarding - financial information*/
div#WebFormPanel.onboarding-financial-info h2 {
  margin-bottom: 5rem;
}
div#WebFormPanel.onboarding-financial-info h3 {
  margin: 25px 0 0 0;
  padding-top: 25px;
}

/* Input fields */
input.form-control, .form-control {
  display: block;
  width: 50%;
  padding: 0.6rem 1.2rem;
  font-size: 1.5rem;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid black;
  border-radius: 0;
  box-shadow: inset 0 1px 1px RGBA(0 0 0/8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input.form-control:focus, .form-control:focus {
  color: #134F76;
  outline: 3px solid #FFBF47;
  border-color: black;
}

/* Radio's & checkboxes styling */
input[type=radio], input[type=checkbox] {
  border: 2px solid black;
  width: 25px;
  height: 25px;
  padding: 0.5rem;
}
input[type=radio]:focus, input[type=checkbox]:focus {
  color: #134F76;
  outline: 3px solid #FFBF47;
  border-color: #134F76;
  outline-offset: 1px;
}
input[type=radio]:active, input[type=checkbox]:active {
  color: #134F76;
  outline: 3px solid #FFBF47;
  border-color: #134F76;
  outline-offset: 1px;
}

.radio label, .checkbox label {
  min-height: 2.1rem;
  padding-left: 2rem;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  font-size: 1.9rem;
}

label {
  font-size: 1.9rem !important;
  font-weight: 500;
}

/* Form view out-of-the-box overwrite */
.crmEntityFormView, .entitylist, .modal-content, .popover-content {
  border: none;
}

.crmEntityFormView .tab-title {
  border-bottom: none;
  -ms-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
}

.crmEntityFormView, .entitylist, .modal-content, .popover-content {
  border: none !important;
}

.crmEntityFormView .cell {
  padding: 1rem 0px;
}

/* Section */
section {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.account-features h2 {
  margin-bottom: 1.5rem;
}
.account-features p {
  margin-bottom: 5rem;
}

section h2 {
  margin-bottom: 5rem;
  margin-top: 0;
}

/* Section Backgrounds */
.bg-grey {
  background-color: #EEEEEE;
}

.bg-primary {
  background-color: #1E7BB8;
}
.bg-primary h1 {
  color: white;
}
.bg-primary h2 {
  color: white;
}
.bg-primary a {
  color: white;
}
.bg-primary a:hover {
  color: #00427f;
}

/* Panels */
.panel {
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  margin: 0;
}

.confirmation-panel {
  background-color: #00703C;
  width: 100%;
  padding: 1.5rem 5rem;
  margin-bottom: 5rem;
}
.confirmation-panel h1 {
  color: white;
}

.info-panel {
  background-color: #1E7BB8;
  width: 100%;
  padding: 1.5rem 5rem;
  margin-bottom: 5rem;
}
.info-panel h1 {
  color: white;
}
.info-panel p {
  font-size: 2.5rem;
  color: white;
}

.error-panel {
  background-color: #af000f;
  width: 100%;
  padding: 1.5rem 5rem;
  margin-bottom: 5rem;
}
.error-panel h1 {
  color: white;
}

/* Panel 50/50 */
.panel5050 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Error validation summary box */
.validation-summary {
  color: #000;
  background-color: white;
  border: 3px solid #af000f;
  padding: 2.5rem;
  width: 60%;
  margin-top: 5rem;
  margin-bottom: 2.5rem 0 5rem 0;
}
.validation-summary h2 {
  font-size: 3rem !important;
  font-style: normal;
  font-weight: 500;
}
.validation-summary a {
  color: #af000f !important;
}
.validation-summary a:hover {
  color: #7c000b !important;
}
@media only screen and (max-width: 991px) {
  .validation-summary {
    width: 100%;
  }
}

/* New requests and engagements panel with a table*/
.new-requests table {
  width: 100%;
}
.new-requests tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.new-requests th {
  padding: 2rem 0 2rem 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-weight: 400;
  font-size: 1.9rem;
}
@media screen and (max-width: 991px) {
  .new-requests th {
    font-size: 1.6rem;
  }
}
.new-requests .th-set-width {
  width: 150px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .new-requests .th-set-width {
    width: 120px;
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  background: #E5E5E5;
  padding: 1rem;
  width: 100%;
  min-height: 8rem;
}

.footer__lower-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1.5rem;
  margin-bottom: 0;
}

.footer__link {
  font-weight: 400;
  color: #666;
  margin: 1.5rem 1.5rem;
  text-decoration: none;
  padding-bottom: 0;
}
.footer__link:focus {
  color: #1E7BB8 !important;
  outline: 3px solid #FFBF47;
}
.footer__link:hover {
  color: #1E7BB8 !important;
}

.footer__copyright {
  font-size: 1.4rem;
  color: rgb(102, 102, 102);
  text-align: center;
  white-space: nowrap;
  margin-top: 1.5rem 0;
}

.list-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-group-item {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-left: none;
  border-right: none;
}

ul {
  margin-bottom: 5rem;
}

li {
  font-size: 1.9rem;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
  padding: 2.5rem;
  min-height: 490px;
}

.card__icon {
  display: flex;
  justify-content: center;
}
.card__icon img {
  width: 100px !important;
}

#WebFormPanel table.section {
  max-width: 80% !important;
}

ol.progress.left, ol.progress.right {
  margin-top: 0px;
  margin-bottom: 5rem;
  width: 150px;
}

.list-group-item {
  background-color: white !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  color: white;
  background-color: #1E7BB8 !important;
  border: none;
}

ol.progress li.incomplete {
  background-color: white;
  border: none;
}

.form-action-container-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cta__cancel-changes {
  margin-left: 25px !important;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;
  margin-top: 5rem;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
}

@media screen and (max-width: 767px) {
  .tabs-container {
    display: flex;
    flex-direction: column;
  }
  .tabs {
    width: 100%;
  }
}
.tab-title {
  text-align: left;
  border: none;
  background-color: white;
  font-size: 1.9rem;
  padding: 10px 10px 10px 10px;
  width: 100%;
  color: #000;
  text-decoration: none !important;
}
.tab-title:focus {
  outline: 3px solid orange;
}
.tab-title:hover {
  background-color: #1E7BB8;
  color: white !important;
}

.tab-title.active {
  color: white;
  background-color: #1E7BB8;
}

.tab-content {
  padding-bottom: 5rem;
  width: 100%;
}
.tab-content .h4 {
  font-weight: 600;
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.tab-content .h4:not(:first-child) {
  margin-top: 3.5rem;
}
.tab-content:focus {
  outline: 3px solid orange;
}

.help-text {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-size: 1.6rem;
  color: #4e4e4e;
}

/* Tabs styling */
/* Helpers, Utilities */
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-l {
  margin-top: 2.5rem;
}

.margin-top-xl {
  margin-top: 5rem;
}

.space-l-top {
  margin-top: 2.5rem;
}

.hide {
  display: none !important;
}

.bold {
  font-weight: 600;
}

.lead {
  font-size: 2.4rem !important;
  font-weight: 500;
}

/* RWD - media queries */
@media only screen and (max-width: 1199px) {
  table.section {
    max-width: 80%;
  }
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  body {
    margin-bottom: 0px !important;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  section h2 {
    margin-bottom: 2.5rem;
    margin-top: 0;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  p, a, .btn, li, label > span {
    font-size: 1.6rem;
  }
  /* Fix for the horizontal scrollbar on mobile view .row, .container overwrite */
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .container {
    width: 100%;
  }
  .breadcrumb .active {
    font-size: 1.6rem;
  }
  .panel {
    padding: 5rem 0px;
  }
  .panel h1 {
    margin-bottom: 2.5rem;
  }
  .card {
    margin-bottom: 2.5rem;
  }
  .homepage-image {
    margin-top: 2.5rem;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: white;
  }
  .panel5050 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  table.section {
    max-width: 100%;
  }
  .beta-banner {
    align-items: center;
    gap: 1.5rem;
  }
  .beta-banner p {
    margin: 0;
  }
  .edit-details {
    padding-top: 2.5rem;
  }
  footer {
    position: relative !important;
    margin-top: 5rem;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
  }
  .footer__link {
    display: flex;
    justify-content: center;
    margin: 1.5rem !important;
  }
}
@media screen and (max-width: 767px) {
  .btn {
    width: 100%;
  }
  .card {
    margin: 2.5rem;
    min-height: 200px;
  }
  table.section {
    padding: 0px;
  }
  .tab-title {
    padding: 5px 10px;
  }
  .tab-content {
    padding-bottom: 0;
  }
}
/* Offline banner styling */
#web {
  display: none;
}

#offlineNotificationBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.6rem;
  background-color: #ffffff !important;
  border-bottom: 1px solid black;
}
#offlineNotificationBar a {
  font-size: 1.6rem;
}

#message {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.6rem !important;
  color: black !important;
}

/*Notification banners*/
/* Success */
.notification-banner--success {
  border: 3px solid #00703C !important;
  background-color: #00703C;
  padding: 2.5rem 5rem;
  width: 100%;
}
.notification-banner--success p {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: white;
}

/* Info */
.notification-banner--info {
  border: 3px solid #1E7BB8 !important;
  padding: 2.5rem 5rem;
  width: 100%;
}
.notification-banner--info p {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

/* Cookies */
#cookies {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}
#cookies h2 {
  margin: 0 0 2.5rem 0;
}
#cookies .btn {
  margin: 2.5rem 2.5rem 5rem 0 !important;
}
@media screen and (max-width: 767px) {
  #cookies .btn {
    margin: 2.5rem 0 0 0 !important;
  }
}

.cookies-management {
  display: flex;
  flex-direction: column;
  max-height: inherit;
  padding: 5rem 5rem 0 5rem;
  border-radius: 5px;
  background-color: white;
  max-width: 800px;
  max-height: 100%;
  overflow-y: auto;
}
@media screen and (max-width: 991px) {
  .cookies-management {
    max-width: 80%;
  }
  .cookies-management .col-sm-3, .cookies-management .col-sm-9 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  .cookies-management {
    padding: 2.5rem;
    max-width: 90%;
  }
  .cookies-management .btn {
    margin: 2.5rem 0 0 0 !important;
  }
  .cookies-management .switch {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  #cookies-advanced-settings .btn {
    margin: 2.5rem 0 5rem 0 !important;
  }
}

#accept-all {
  margin: 5rem 0 !important;
}

#cta-cookie-policy {
  border: none;
  background: none;
  padding: 0;
  font-size: 1.9rem;
  color: #1E7BB8;
  text-decoration: underline;
}
#cta-cookie-policy:hover {
  color: #134F76;
}
#cta-cookie-policy:focus {
  outline: 3px solid #FFBF47;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  position: relative;
  width: 0;
  height: 0;
}

.switch-disabled {
  width: 40px;
  height: 40px;
  border: 2px solid #00703C;
  border-radius: 50%;
}
.switch-disabled :before {
  content: "On";
  position: absolute;
  margin: 10px 50px;
}

.tick {
  position: absolute;
  left: 0;
}
.tick svg {
  fill: #00703C;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1E7BB8;
}

input:focus + .slider {
  outline: 3px solid #FFBF47;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:hover {
  outline: 3px solid #FFBF47;
}
.slider.round:focus {
  outline: 3px solid #FFBF47;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-label {
  display: block;
  position: relative;
  margin: -14px 75px;
}/*# sourceMappingURL=SEThemeV2.css.map */